<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BLT</key>
	<dict>
		<key>multiplier</key>
		<real>3.0</real>
		<key>reqs</key>
		<array>
			<string>Bacon</string>
			<string>Lettuce</string>
			<string>Tomato</string>
		</array>
	</dict>
	<key>Classic</key>
	<dict>
		<key>multiplier</key>
		<real>2.0</real>
		<key>reqs</key>
		<array>
			<string>Peanut_Butter</string>
			<string>Grape_Jelly</string>
		</array>
	</dict>
	<key>Cole_Slaw</key>
	<dict>
		<key>multiplier</key>
		<real>1.5</real>
		<key>reqs</key>
		<array>
			<string>Cabbage</string>
			<string>Mayo</string>
			<string>Carrots</string>
		</array>
	</dict>
	<key>Cubano</key>
	<dict>
		<key>multiplier</key>
		<real>2.0</real>
		<key>reqs</key>
		<array>
			<string>Ham</string>
			<string>Pickle</string>
		</array>
	</dict>
	<key>Grilled_Cheese</key>
	<dict>
		<key>multiplier</key>
		<real>2.0</real>
		<key>reqs</key>
		<array>
			<string>t:cheese</string>
			<string>t:cheese</string>
			<string>t:cheese</string>
		</array>
	</dict>
	<key>House_Special</key>
	<dict>
		<key>multiplier</key>
		<real>2.0</real>
		<key>reqs</key>
		<array>
			<string>Turkey</string>
			<string>Cheddar</string>
		</array>
	</dict>
	<key>Italian</key>
	<dict>
		<key>multiplier</key>
		<real>2.0</real>
		<key>reqs</key>
		<array>
			<string>Salami</string>
			<string>Bologna</string>
			<string>Proscuitto</string>
		</array>
	</dict>
	<key>Tuna_Salad</key>
	<dict>
		<key>multiplier</key>
		<real>3.0</real>
		<key>reqs</key>
		<array>
			<string>Tuna</string>
			<string>Mayo</string>
			<string>Lettuce</string>
		</array>
	</dict>
</dict>
</plist>
